<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        
        <h1>Hola</h1>
        
        <% (@numeros).each do |numero|%>
            <h2><%= numero %></h2><br>
        <%end%>
        
    </body>
</html>