<!DOCTYPE html>
<html>
    <head>
        <title>Hola dime a quien quieres saludar</title>
    </head>
    <body>
        <form action="/saludar" method="post">
        <h1>Hola dime a quien quieres saludar</h1>
            <input name="nombre" type="text" value="">
            <button type="submit">¡Hola!</button>
        </form>
    </body>
</html>